*{margin: 0;padding: 0;}
body{padding-bottom: 70px;}
ul,li{list-style: none;}
a{text-decoration: none;}
.navbar-nav{width: 100%;margin: 7.5px 0px;}
.navbar-nav li{width: 25%;text-align: center;cursor: pointer;}
body{background-color: #1C1C1C;}

.post{position: relative;}
.post img{width: 100%;}
.post a {margin: 5px auto;display: block;}
.post_title {color: #fff;}
.post_address {color: #fff;}
.container {
    padding-right: 5px;
    padding-left: 5px;
    margin-right: auto;
    margin-left: auto;
}
.detail{position: absolute; bottom: 0;display: inline;}
.detail p{margin: 0;}


/* carousel */
.flexslider { position: relative; height: 100px; overflow: hidden;}
.slides { position: relative; z-index: 1;}
.slides li { height: 200px;}
.flex-control-nav { position: absolute; bottom: 10px; z-index: 2; width: 100%; text-align: center;}
.flex-control-nav li { display: inline-block; width: 14px; height: 14px; margin: 0 5px; *display: inline; zoom: 1;}
.flex-control-nav a { display: inline-block; width: 14px; height: 14px; line-height: 40px; overflow: hidden; background-color: #fff; cursor: pointer;border-radius: 50%;}
.flex-control-nav .flex-active { background-position: 0 0;}